.App, .login {
  position: relative;
  text-align: center;
  min-height: 100vh;
}

.login::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("background.jpg");
  background-size: 100% 100%;
  opacity: 0.4;
}

.loginPage {
  position: relative;
}